.container {
    width: 1280px;
    margin: 0 auto;
}
.colortext {
    color: cornflowerblue;
}
h1 {
    font-family: Roboto;
    font-weight: 400;
    font-size: 45pt;
}
p {
    font-family: Roboto;
}
a {
    text-decoration: none;
    color: black;
}
.back {
    background-color: #35444F;
    list-style: none;
    margin: 0;
    padding-left: 0;
}
.menu {
    display: inline-block;
    color: white;
    font-size: 16pt;
    padding: 20px;
    font-family: Roboto;
    border-left: 1px solid white;
    height: 100%;

}
.left
{
    margin-left: 250px;
}

.b1
{
    font-size: 27pt;
    font-family: Roboto;
    padding-top: 15px;
    color: #485863;
    padding-left: 50px;
    padding-bottom: 15px;
    margin-right: 0%;
}

.b1:hover{
    font-size: 27pt;
    text-align: center;
    font-family: Roboto;
    padding: 10px;
    background-color: lightgray;
    margin-right: 0%;
}
.navigation
{
    border: 1px solid grey;
    width: 350px;
    height: 380px;
    display: inline-block;
}
.list
{
    list-style: none;
    padding: 0;
}

.right{
    width: 885px;
    display: inline-block;
    margin-left: 40px;
}

.image-border{
    height: 530px;
    border: 1px solid #000000;
    justify-content: center;
    align-items: center;
    display: flex;
}

.main-content{
    display: flex;
    margin-top: 25px;
}

.image{
    height: 250px;
}

.image:hover{
    height: 400px;
}
.bottom-menu{
    list-style: none;
    display: inline-block;
    font-size: 28px;
    margin: 20px;
    padding-left: 10px;
}
.bottom-ul{
    width: 100%;
    background-color: lightgray;
    padding: 0;
}
.bottom-menu:hover {
    list-style: none;
    display: inline-block;
    font-size: 28px;
    margin: 20px;
    padding-left: 10px;
    text-decoration: underline;
    color: cornflowerblue;
}
.bottom-copyright {
    list-style: none;
    display: inline-block;
    font-size: 23px;
    margin: 20px;
    padding-left: 90px;
}